@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    /* background-color: #fff; */
     /* border-color: #d5d5d5; */
    -webkit-appearance:none;
    box-shadow: none !important;
}
a,a:hover{
    text-decoration: none;
    color: #333333;
}
.bg-color{
    background-color: #4B49AC;
    color: white;
    padding: 5px 30px;
}
.bg-color:hover{
    border: 1px solid #4B49AC!important;
    color: rgb(3, 3, 3)!important;
    background-color: #ffffff!important;
}
.bordered-round{
    border: 1px solid #4B49AC;
    border-radius: 150px;
    padding: 5px 30px;
}
.bordered-round:hover{
    background-color: #4B49AC!important;
    color: rgb(255, 255, 255)!important;
}
::selection{
    background: #4B49AC;
    color: white;
}
.common-bg-color{
    background-color: #F7F6FE;
}
.content-wrapper{
    padding: 80px 0;
}
.section-header{
    margin-bottom: 70px;
}
body{
    font-family: 'poppins';
}
.footer{
    padding: 50px 0;
    background-color: #333333;
    color: white;
}
.header-pic{
    height: 50px;
    width: 50px;
    background-color: #4B49AC;
    color: white;
    border-radius: 50%;
}
.dropdown-item:hover{
    background-color: #4B49AC;
    color: white;
}
.after-login{
    display: flex;
    align-items: center;
}
.banner-main-text{
    font-size: 72px;
}
.service-tab{
    width: 50%;
}
.tab-button{
    width: 170px;
    height: 224px;
    background-color: #9e9cea!important;
    border-radius: 10px;
}
.tab-button-icon{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
}
.tab-button-text{
    margin-top: 26px;
    color: white;
    font-weight: 600;
}
.tab-bg{
    background-color: white;
    border-radius: 20px;
}
.medical-video{
    width: 50%;
    height: 500px;
    background-color: #9e9cea;
    border-radius: 20px;
}
.medical-text{
    width: 45%;  
}
.title{
    width: 420px;
    margin-bottom: 30px;
    color: #333333;
}
.subtitle{
    color: #333333;
    margin-bottom: 20px;
    font-size: 20px;
}
.discription{
    color: #33333386;
    margin-bottom: 40px;
}
.top-space{
    margin: 120px 0;

}
.doctor-pic{
    width: 122px;
    height: 122px;
    background-color: #4B49AC;
    border-radius: 50%;
    margin: 0 auto;
}
.doctor{
    background-color: #F7F6FE;
    padding: 40px 0;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.bi-quote{
    height: 80px;
    width: 80px;
}
.feedback-wrapper{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.feedback{
    color: #3333339d;
    margin: 50px 0;
}
.possition{
    color: #3333337d;
}
.user-img{
    height: 80px;
    width: 80px;
    background-color: #4B49AC;
    border-radius: 50%;
}
.user-name{
    color: #333333e9;
}
.reg-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.reg_form{
    width: 500px;
}

.profile-pic{
    height: 300px;
    width: 80%;
    background-color: #333333;
    border-radius: 10px;
}
.user-profile{
    height: 72vh;
    width: 100%;
    margin-top: 80px;
}
.mx-calendar-content .cell.active,.mx-calendar-header{
    background-color: #4B49AC!important;
    color: white!important;
}
.mx-calendar-header .mx-btn,.mx-btn:hover{
    color: white!important;
    background-color: #4B49AC!important;
}
.mx-table-date .today {
    color: #4B49AC!important;
    font-weight: 600;
}
.schedule-info{
    background-color:#4B49AC!important;
    color: white!important;
}
button:focus, button:active, button:hover, .btn:active, .btn.active {
    outline: 0px !important;
    background-color: #fafafa!important;
    color: #333333!important;
    border-color: #4B49AC!important;
    -webkit-appearance: none;
    box-shadow: none !important;
}